In [2]:
name = input("What is your name, sir? ")
print("Welcome, " + name)

What is your name, sir? Evginy
Welcome, Evginy

In [3]:
s = 'Hello!'
s[::-1]

'!olleH'

In [2]:
print(type(2+4))

<class 'int'>

In [3]:
print(type(6/10))

<class 'float'>

In [5]:
# NOTE: We need more memory to store float numbers
# "7.5" - "7" в одном и "5" в "другом месте"
# use python doc for detailed 'technical' information about float type and operation with it.

In [8]:
print(bin(8))

0b1000

In [9]:
a, c, b = 1, 2, 3

In [10]:
a

1

In [11]:
b

3

In [12]:
c

2

### Strings

In [13]:
type("hi")

str

In [14]:
str(100)

'100'

In [15]:
type(str(100))

str

In [16]:
print(str(100))

100

In [35]:
# Escape Sequence
weather = "It's \"kind of\" sunny! \nHave a great day!"

In [36]:
print(weather)

It's "kind of" sunny!
Have a great day!

In [39]:
name = 'Jack'
age = 40

In [41]:
print("Hi, " + name + ". You are beautiful. And you are " + str(age) + ' year old.')

Hi, Jack. You are beautiful. And you are 40 year old.

In [44]:
# Preferable way (from Python 3.x)
print(f'hi {name}. You are {age} years old.')

hi Jack. You are 40 years old.

In [50]:
# Old way:
print('hi {}. You are {} years old.'.format(name, age))

hi Jack. You are 40 years old.

In [57]:
# string indexes
selfish = 'me me me yeah!'

# [start:stop]
# [start:stop:stepover] // [::1] - default behavior
selfish[0:14:2]

'm em eh'

In [56]:
selfish[:10]

'me me me y'

### Build-In Functions

In [1]:
greet = 'hellloooy!'

In [2]:
# len()
greet[0:len(greet)]

'hellloooy!'

In [65]:
quote = "to be or not to be"

In [67]:
quote.capitalize()

'To be or not to be'

In [69]:
quote.find("be") # give a number of index, when "be" start - 3

3

In [70]:
quote.replace("be", "bee")

'to bee or not to bee'

In [71]:
quote

'to be or not to be'

In [72]:
quote_2 = quote.replace("be", "bee")

In [73]:
quote_2

'to bee or not to bee'

### Booleans

In [74]:
name = "Zhenya"

In [75]:
bool(name)

True

In [76]:
bool(0)

False

In [77]:
bool(1)

True

## Exercise - Type Conversion

In [78]:
name = "Zhenya"
age = 25
relshp_status = 'single'

In [83]:
# Let's create a little program that count your age.

birth_year = int(input("What year were you born? "))
actual_year = 2022
age = actual_year - birth_year
print(f'Your age is {age} years old!')

What year were you born? 1900
Your age is 122 years old!

## Exercise - Password's lenght

In [94]:
user_name = input("Enter your username: ")
user_password = input("Enter your password: ")
password_lenght = int(len(user_password))
hidden_password = "*" * password_lenght

# print(f"{user_name}, your password {'*' * len(user_password)} is {len(user_password)} letters long")
# Code above - not so easy-to-understand; SO ==>
print(f"{user_name}, your password {hidden_password} is {password_lenght} letters long")

Enter your username: Jack
Enter your password: Winner
Jack, your password ****** is 6 letters long

# Lists

In [106]:
amazon_cart = ['notebook', 'smartphone', 'sunglasses', 'food']

In [108]:
amazon_cart[0::2] # step 2

['notebook', 'sunglasses']

In [109]:
amazon_cart[0] = 'laptop'

In [110]:
amazon_cart

['laptop', 'smartphone', 'sunglasses', 'food']

In [111]:
new_cart = amazon_cart[0:3]

In [112]:
new_cart

['laptop', 'smartphone', 'sunglasses']

In [113]:
amazon_cart

['laptop', 'smartphone', 'sunglasses', 'food']

In [114]:
new_cart[0] = 'gum'

In [115]:
new_cart

['gum', 'smartphone', 'sunglasses']

In [116]:
amazon_cart

['laptop', 'smartphone', 'sunglasses', 'food']

In [117]:
new_cart = amazon_cart

In [120]:
new_cart[0] = 'jar'

In [121]:
new_cart

['jar', 'smartphone', 'sunglasses', 'food']

In [122]:
amazon_cart

['jar', 'smartphone', 'sunglasses', 'food']

In [123]:
# Note: to copy lists use [:]
new_cart = amazon_cart[:]

### Matrix

In [124]:
matrix = [[1, 2, 3], [2, 4, 5], [7, 8, 9]]

In [129]:
matrix[0][2]

3

### List methods

In [38]:
basket = [1,2,3,4,5]

In [39]:
# Adding
new_list = basket.append(100) # !new_list will be not modified ("none") => some (? or all list methods)  methods works INPLACE
new_list
#print(basket.append)

In [22]:
basket

[1, 2, 3, 4, 5, 100, 100]

In [8]:
basket.append(110)
new_list = basket

In [10]:
new_list

[1, 2, 3, 4, 5, 100, 110, 110]

In [11]:
basket.insert(4, 99)

In [12]:
basket

[1, 2, 3, 4, 99, 5, 100, 110, 110]

In [13]:
basket.extend([105])

In [14]:
basket

[1, 2, 3, 4, 99, 5, 100, 110, 110, 105]

In [16]:
basket.pop()

110

In [41]:
basket

[1, 2, 3, 4, 5, 100]

In [18]:
basket.pop(4) # remove index pos.

99

In [19]:
basket.remove(110) # remove number

In [25]:
basket

[1, 2, 3, 4, 5, 100]

In [26]:
new_list = basket.pop(5)

In [28]:
new_list # it's return the number that was "pop"-ed.

100

In [29]:
# removing the list
new_list = basket.clear()

In [30]:
new_list

In [31]:
basket

[]

In [46]:
basket.reverse()
basket

[100, 5, 4, 3, 2, 1]

In [49]:
basket[::-1] # it makes a new list!

[1, 2, 3, 4, 5, 100]

In [50]:
basket

[100, 5, 4, 3, 2, 1]

In [58]:
sentence = '!'

In [59]:
sentence.join(['Hi', 'my', 'name', 'is'])

'Hi!my!name!is'

In [60]:
sentence

'!'

In [61]:
new_sentence = sentence.join(['Hi', 'my', 'name', 'is'])

In [62]:
new_sentence

'Hi!my!name!is'

In [63]:
new_sentence2 = ' '.join(['Hi', 'my', 'name', 'is'])

In [64]:
new_sentence2

'Hi my name is'

In [65]:
# ' '.join([]) - "convert list to a string"

#### Indexing and finding smth in the list

In [32]:
basket_2 = ["a", "b", "c", "d", "e"]

In [33]:
basket_2.index("e")

4

In [39]:
basket_2.index("d", 2, 4) # Между какими индексами искать

3

In [41]:
# Another way to find smth in the list
"d" in basket_2

True

In [43]:
# With the strings this works too:
"x" in "People-x"

True

#### Counting, Sorting,

In [46]:
basket_2.count("d") # how many times "d" in the list

1

In [50]:
basket_2 = ["a", "x", "b", "z", "c", "d", "e"]

In [51]:
basket_2.sort()

In [52]:
basket_2

['a', 'b', 'c', 'd', 'e', 'x', 'z']

In [53]:
basket_2 = ["a", "x", "b", "z", "c", "d", "e"]

In [54]:
sorted(basket_2)

['a', 'b', 'c', 'd', 'e', 'x', 'z']

In [55]:
basket_2

['a', 'x', 'b', 'z', 'c', 'd', 'e']

In [56]:
new_basket2 = basket_2[:]

In [58]:
new_basket2.sort()

In [59]:
new_basket2

['a', 'b', 'c', 'd', 'e', 'x', 'z']

In [60]:
basket_2

['a', 'x', 'b', 'z', 'c', 'd', 'e']

In [61]:
# Instead of list_name[:] we can use .copy()
new_basket2 = basket_2.copy()

In [62]:
new_basket2

['a', 'x', 'b', 'z', 'c', 'd', 'e']

In [63]:
basket_2.reverse()

In [64]:
basket_2

['e', 'd', 'c', 'z', 'b', 'x', 'a']

## Common list patterns

In [65]:
len(basket_2)

7

In [68]:
basket_2.sort()
basket_2

['a', 'b', 'c', 'd', 'e', 'x', 'z']

In [69]:
basket_2.reverse()
basket_2

['z', 'x', 'e', 'd', 'c', 'b', 'a']

In [70]:
basket_2[::-1]

['a', 'b', 'c', 'd', 'e', 'x', 'z']

In [77]:
# To generate range from 1 to 100
new_list3 = list(range(1, 101))

In [79]:
print(new_list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [85]:
sentence = ' '
sentence.join(['hi', 'my', 'name', 'is', 'Johnny'])

'hi my name is Johnny'

In [88]:
sentence = '!'
sentence.join(['hi', 'my', 'name', 'is', 'Johnny']) # create a new string from a list of items

'hi!my!name!is!Johnny'

In [89]:
# or you can use:
new_sentence = ' '.join(['hi', 'my', 'name', 'is', 'Johnny'])

In [90]:
new_sentence

'hi my name is Johnny'

#### List unpacking

In [92]:
a,b,c = [1,2,3]

In [96]:
a, b, c

(1, 2, 3)

In [97]:
a,b,c, *other = [1,2,3,4,5,6,7,8,9]

In [98]:
other

[4, 5, 6, 7, 8, 9]

In [99]:
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]

In [100]:
other

[4, 5, 6, 7, 8]

In [101]:
d

9

In [103]:
weapons = None

In [105]:
type(weapons)

NoneType

## Dictionaries (`dict`)

In [109]:
dictionary = {'a': 1, 'b': 2, 'x': 3}

In [108]:
dictionary['a']

1

In [120]:
my_list = [
    {'a': 1, 'b': 2, 'x': 3},
    {'a': [1,2,3], 'hello': 2, 'x': True},
    {'a': [4,5,6], 'hello': 2, 'x': True},
]

In [121]:
my_list

[{'a': 1, 'b': 2, 'x': 3},
 {'a': [1, 2, 3], 'hello': 2, 'x': True},
 {'a': [4, 5, 6], 'hello': 2, 'x': True}]

In [124]:
my_list[1]['a'][2]

3

In [127]:
# Dictionary's keys need to be immutable
# i.e. key can not change

# a Key in dict must be unique

### Dictionary methods

In [135]:
user_age = 35
user_name = 'Nick'

user = {
    'age': user_age,
    'name': user_name,
    'status': 'occupay'
}

In [131]:
user['name']

'Nick'

In [137]:
user.get('status', 'free') # if dict has no key 'status', use default 'free'; if has - use it in dict.

'occupay'

In [140]:
# Create dict - not very common way:
user2 = dict(name="John Doe")

In [141]:
user2

{'name': 'John Doe'}

In [142]:
print('age' in user)

True

In [144]:
print('age' in user.keys())

True

In [147]:
print(user_name in user.values())

True

In [149]:
print(user.items()) # you can search in `items` too

dict_items([('age', 35), ('name', 'Nick'), ('status', 'occupay')])

In [150]:
# Copy
user2 = user.copy()

In [152]:
print(user)
print(user2)

{'age': 35, 'name': 'Nick', 'status': 'occupay'}
{'age': 35, 'name': 'Nick', 'status': 'occupay'}

In [153]:
print(user.clear())
print(user2)

None
{'age': 35, 'name': 'Nick', 'status': 'occupay'}

In [154]:
# `pop` return the value that we've got remove
user2.pop('status')

'occupay'

In [155]:
user2

{'age': 35, 'name': 'Nick'}

In [160]:
# `popitem` RANDOMLY remove some key!
# "useful to destructively iterate over a dictionary"

In [159]:
user2.popitem()

('name', 'Nick')

In [164]:
# UPDATE a key value
user2.update({'age': 29})

In [165]:
user2

{'age': 29}

## Tuples

**When to use Tuples**

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then tuple become your solution. It provides a convenient source of data integrity.

In [10]:
my_tuple = (1,2,3,4,5,1)

In [5]:
my_tuple[3:4]

(4,)

In [6]:
x,y,z, *other = (1,2,3,4,5)

In [7]:
other

[4, 5]

In [11]:
my_tuple.count(1)

2

In [14]:
my_tuple.index(5)

4

## Sets

In [43]:
my_set = {1,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [36]:
another_set = {1,2,3,4,5,6,6,6}
another_set

{1, 2, 3, 4, 5, 6}

In [18]:
# Only unique elements

In [19]:
my_list = [1,2,3,4,5,5,5,5]

In [20]:
set(my_list)

{1, 2, 3, 4, 5}

In [21]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [22]:
print(1 in my_set)

True

In [24]:
len(another_set) # only unique elements!

6

In [37]:
new_set = another_set.copy()

In [38]:
new_set

{1, 2, 3, 4, 5, 6}

In [39]:
# another_set.clear()

In [40]:
new_set

{1, 2, 3, 4, 5, 6}

### Methods on Sets

In [45]:
my_set.difference(another_set)

{7}

In [44]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [46]:
another_set

{1, 2, 3, 4, 5, 6}

In [47]:
my_set.discard(7)

In [48]:
my_set

{1, 2, 3, 4, 5, 6}

In [49]:
my_set.difference_update(another_set)

In [50]:
my_set

set()

In [51]:
my_set = {1,2,3,4,5,6,7}

In [52]:
new_set = {5,6,7,8,9,10}

In [53]:
my_set.difference_update(new_set)

In [54]:
my_set

{1, 2, 3, 4}

In [55]:
new_set

{5, 6, 7, 8, 9, 10}

In [56]:
my_set = {1,2,3,4,5,6,7}

In [65]:
my_set.intersection(new_set) # you can use `my_set & new_set - the same method

{5, 6, 7}

In [58]:
my_set.isdisjoint(new_set)

False

In [60]:
new_set.isdisjoint(my_set)

False

In [61]:
check_set = {8,9,10}

In [62]:
my_set.isdisjoint(check_set)

True

In [66]:
my_set.union(new_set) # my_set | new_set - the same operation

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [68]:
my_new_set = {8,9}

In [69]:
my_new_set.issubset(check_set)

True

# Conditional logic
It's all about writing code with "make sense" (not only for you, but for other people too!)
## Booleans, Truthy/Falsy

In [70]:
next_list = []

In [71]:
bool(next_list)

False

In [72]:
bool(0)

False

In [73]:
bool(1)

True

## if/else/elif
### Ternary operator

In [81]:
# condition_if_true if condition else condition_if_false
# Ternary operator - nice short-hand way to check conditions and do smthng

In [76]:
is_friend = False
can_message = "message allowed" if is_friend else "not allowed to message"

In [77]:
can_message

'not allowed to message'

### Short Circuiting

In [86]:
# `or` - use it for "short curcuiting"

In [82]:
is_Friend = True
is_User = True

In [85]:
if is_Friend and is_User:
    print('best frends 4ever!')

best frends 4ever!

In [88]:
# Short cuirtuting:
if is_Friend or is_User:
    print('best frends 4ever!')

best frends 4ever!

### Logical Operators

In [92]:
bool('String1')

True

In [99]:
"String1" > "String2"

False

In [100]:
"string1" > "String2"

True

### Excersise

In [111]:
is_magician = True
is_expert = True

# check if magician AND expert: "You are a master magician!"
if is_magician and is_expert:
    print("You are a master magician!")


# check if magician but not expert: "At least you're getting there..."
# elif is_magician and is_expert == False: -- instead write:
elif is_magician and not is_expert:
        print("At least you're getting there...")

# if you're not a magician: "You nead a magic powers..."
elif not is_magician:
        print("You nead a magic powers...")

You are a master magician!

## For Loops

In [118]:
for item in (1,2,3):
    for x in ['a', 'b', 'c']: # you can nest it!
        print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [119]:
# iterable - list, dictionary, tuple, set, string
# iterated --> one by one check each item in the collection.

In [121]:
user = {"name": 'Golem', "age": 5000, "can_swim": False}

In [127]:
for item in user.items(): # can use `user.values()`, `user.keys()`
    print(item)

('name', 'Golem')
('age', 5000)
('can_swim', False)

In [132]:
for item in user.items():
    key, value = item
    print(key, value)

name Golem
age 5000
can_swim False

In [131]:
for k, v in user.items():
    print(k, v)

name Golem
age 5000
can_swim False

In [133]:
for item in 50:
    print(item)

TypeError: 'int' object is not iterable

### Exercise - Counter

In [134]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [141]:
# check_list = list(range(1,11))

In [147]:
counter = 0 # this variable need to be OUTSIDE the loop!

for item in my_list:
    counter += item
    # print(counter) -- not correct for the sum! need indentation
print(counter)

55

#### range()

In [148]:
range(100)

range(0, 100)

In [151]:
for number in range(0, 4):
    print(number)

0
1
2
3

In [152]:
for _ in range(3):
    print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### enumerate()

In [161]:
for i, char in enumerate('Hellloo!'):
    print(i, char)

False H
False e
False l
False l
False l
False o
False o
False !

In [172]:
for i, num in enumerate(list(range(100))):
    if num == 50:
        print(f'Index of number {num} is: {i}')

Index of number 50 is: 50

## While Loop

In [5]:
i = 0

# print i 50 times
while i < 50:
    print(i)
    i += 1
    
else:
    print("Done with all the work")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
Done with all the work

In [8]:
my_list = [1,2,3]

for item in my_list:
    print(item)
    
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3
1
2
3

In [10]:
while True:
    response = input('say something: ')
    if response == 'bye!':
        break

say something: kdj
say something: bye!

In [12]:
# For and While loops:

# continue - continue to the top of enclosing loop.
# pass - rare see in the code; good way to have a placeholder while you coding
# break

### Excersise
Given a array of numbers (matrix) - display "empty space" on zeros in the array, and instead of "one" - display `*`.
The picture should have the same rows and columns as the matrix.

In [13]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0],
]

In [55]:
for row in picture:
    for pixel in row:
        if pixel == 0:
            print(' ', end='')
        elif pixel == 1:
            print('*', end='')
    print('') # for a new line after every row

   *
  ***
 *****
*******
   *
   *

In [58]:
# Making the code more "clean, readable, etc."
fill = "$"
empty = ' '

for row in picture:
    for pixel in row:
        if pixel:
            print(fill, end='')
        else:
            print(empty, end='')
    print('')

   $
  $$$
 $$$$$
$$$$$$$
   $
   $

### Exercise - Find Duplicates

In [60]:
# Check for duplicates in given list (not allowed to use `set` - only loops!):
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

In [74]:
dupl_list = []

for item in some_list:
    if some_list.count(item) > 1:
        if item not in dupl_list:
            dupl_list.append(item)
print(dupl_list)

['b', 'n']

# Functions

In [84]:
def say_hello():
    print("Hello, Dear!")

In [85]:
say_hello()

Hello, Dear!

## Parameters and Arguments

In [89]:
# Parameters (we use parameters WHEN we DEFINE a function)
def say_hello(name, emoji): # parameters inside a brackets! 
    print(f"Hello, Dear {name}{emoji}!")
    
# Arguments are used when we CALL the function /as a value we provide TO a function/ - to "call", "invoke" the function.
say_hello("Brother", "=)")

# positional arguments
# keyword arguments
say_hello(emoji=':-)', name='Babe')

Hello, Dear Brother=)!
Hello, Dear Babe:-)!

In [91]:
# Default parameters
def say_hello(name='Darth Vader', emoji = '|*-*|'): # parameters inside a brackets! 
    print(f"Hello, Dear {name}{emoji}!")
    
say_hello()
say_hello('Luiwe')

Hello, Dear Darth Vader|*-*|!
Hello, Dear Luiwe|*-*|!

## return

In [92]:
# Function should do one things really well.
# Function should return something.

In [102]:
def checkDriverAge(age = 0):
    #age = input("What is your age?: ")
    
    if int(age) < 18:
        print("Sorry, you are too young to drive this car. Powering off")
    elif int(age) > 18:
        print("Powering On. Enjoy the ride!")
    elif int(age) == 18:
        print("Congrats on your first year of driving. Enjoy the ride!")

In [104]:
checkDriverAge(9)

Sorry, you are too young to drive this car. Powering off

## Methods vs Functions

In [105]:
# Methods should be owned by something (чем-то, что располагается слева от точки - "somestring".capitalize() ).

In [106]:
# Methods and functions - its a "action", that we perform to do something.

## Docstrings `''' '''`

In [108]:
def test(a):
    '''
    Info: this function tests and prints param a
    '''
    print(a)

In [109]:
test(37)

37

In [110]:
help(test)

Help on function test in module __main__:

test(a)
    Info: this function tests and prints param a

In [112]:
print(test.__doc__)

    Info: this function tests and prints param a

## *args and **kwargs (arguments and keyword arguments)

In [1]:
def super_func(args):
    return sum(args)

super_func(1,2,3,4,5)

TypeError: super_func() takes 1 positional argument but 5 were given

In [2]:
def super_func(*args):
    return sum(args)

super_func(1,2,3,4,5)

15

In [117]:
def super_func(*args, **kwargs):
    total = 0
    for items in kwargs.values():
        total += items
    return sum(args) + total

In [119]:
super_func(1,2,3,4,5, num1=5, num2=10)

30

**Rule:** params, `*args`, default parameters, `**kwagrs`

In [120]:
def super_func(name, *args, i='hi', **kwargs):
    total = 0
    for items in kwargs.values():
        total += items
    return sum(args) + total

In [123]:
super_func('Miky', 1,2,3,4,5, num1=5, num2=10)

30

### Excersise

In [124]:
# Given a list - find a highest even number

In [146]:
def highest_even(li):
    list_even = []
    for num in li:
        if num % 2 == 0:
            list_even.append(num)
    print(list_even)
    return max(list_even)

In [147]:
highest_even([10, 8, 2, 4, 5])

[10, 8, 2, 4]

10

###  Scope (пер.: рамки, область действия)
**Scope - what variables do I have access to?**

We can ONLY 'work' with значения переменной(-ых) ВНУТРИ функции - словно это отдельный мир (отделенный отступами).

Кто имеет доступ к кому.

* 1. Start with local scope (переменная внутри функции)
* 2. Parent local?
* 3. Global (переменная, которая не имеет отступов).
* 4. Build in python functions.

#### Global keyword `global`

In [6]:
total = 0

def count():
    total = 0
    total += 1
    return total

In [7]:
count()
count()

1

In [16]:
def count():
    global total
    total += 1
    return total

In [17]:
count()
count()
count()

3

In [13]:
total = 0

In [14]:
# Use `global` may a not actually good way to doing things (it's like all different universes accessing each other's variables)
# Хотя с этим (выше) - можно поспорить (но Andrei рекомендует использовать то, что ниже).
# Better way - using "dependency injection":

def count(total):
    total += 1
    return total

print(count(count(count(total))))

3

#### nonlocal keyword

In [18]:
def outer():
    x = 'local'
    def inner():
        nonlocal x
        x = 'nonlocal'
        print("inner: ", x)
    
    inner()
    print("outer: ", x)

In [20]:
outer()

inner:  nonlocal
outer:  nonlocal

In [21]:
def outer():
    x = 'local'
    def inner():
        # nonlocal x
        x = 'nonlocal'
        print("inner: ", x)
    
    inner()
    print("outer: ", x)

In [22]:
outer()

inner:  nonlocal
outer:  local

**Note:** Pure Function (ease to understand your code, test your code better):

            - produce the same result always;
            - not interact with the outside world (i.e. lines of code outside the function).
            
 Pure functions is more a 'guideline' than an absolute (because it's not possible to have pure functions everywhere). But when you can - use Idea of Pure Functions.

### map, filter, zip and reduce

#### map()

In [3]:
def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item*2)
    return new_list

In [5]:
list(map(multiply_by2, [1,2,3]))

TypeError: 'int' object is not iterable

In [6]:
# with `map` we do not need to create a `new_list = []`
my_list = [1,2,3]
def multiply_by2(item):
    return item*2

In [7]:
list(map(multiply_by2, [1,2,3]))

[2, 4, 6]

In [8]:
list(map(multiply_by2, my_list))

[2, 4, 6]

In [9]:
my_list

[1, 2, 3]

In [36]:
# ! map does not modify my_list - its create a whole NEW LIST. (I.e. - does not interact with "outer world (outside the function))

#### filter()

In [38]:
def only_odd(item):
    return item % 2 != 0

In [39]:
list(filter(only_odd, my_list))

[1, 3]

In [45]:
user_names = ['Albert', 'Volk', 'absent', 'Nancy', 'Craxy', 'Angel']

In [41]:
def name_start_a(item):
    if item[0].lower() == 'a':
        return item

In [46]:
list(filter(name_start_a, user_names))

['Albert', 'absent', 'Angel']

#### zip()

In [49]:
my_list = [1,2,3]
your_list = [10,20,30]
their_list = (5,4,3)

In [50]:
list(zip(my_list, your_list))

[(1, 10), (2, 20), (3, 30)]

In [51]:
list(zip(my_list, your_list, their_list))

[(1, 10, 5), (2, 20, 4), (3, 30, 3)]

#### reduce()

In [52]:
from functools import reduce

In [54]:
def accumulator(acc, item):
    print(acc, item)
    return acc + item

In [56]:
reduce(accumulator, my_list, 0)

0 1
1 2
3 3

6

In [ ]:
# Accumulate data (all values) and reduce it to one single number.

## Comprehensions

In [68]:
# Comprehensions a quick way to create list, set, dictionary (чем, возможно, looping)

#### List comprehensions

In [59]:
my_list = []

for char in 'hello':
    my_list.append(char)
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [61]:
my_list = [char for char in 'hello']
my_list

['h', 'e', 'l', 'l', 'o']

In [64]:
my_list2 = [num for num in range(1,10)]
my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
my_list3 = [num*2 for num in range(1,10)]
my_list3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
my_list4 = [num*2 for num in range(1,10) if num % 2 == 0]
my_list4

[4, 8, 12, 16]

#### Sets comprehensions

In [69]:
# Аналогично list comprehension

In [70]:
my_set1 = {num*2 for num in range(1,10)}
my_set1

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [71]:
my_set4 = {num*2 for num in range(1,10) if num % 2 == 0}
my_set4

{4, 8, 12, 16}

#### Dictionary comprehensions

In [75]:
simple_dict = {'a':1, 'b':2}
# my_dict = {key:value**2 for key, value in simple_dict.items()}
my_dict = {k:v**2 for k, v in simple_dict.items() if v%2==0}
my_dict

{'b': 4}

In [77]:
my_dict2 = {num:num**2 for num in [1,2,3]}
my_dict2

{1: 1, 2: 4, 3: 9}

#### Exercise

In [78]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

In [79]:
# Do the same with one line list/set comprehensions:
dupl_list = []

for item in some_list:
    if some_list.count(item) > 1:
        if item not in dupl_list:
            dupl_list.append(item)
print(dupl_list)

['b', 'n']

In [96]:
duplicates = list({value for value in some_list if some_list.count(value) > 1})
duplicates

['b', 'n']

In [97]:
check_set = {'a', 'b', 'c', 'b', 'd', 'm', 'n', 'n'}
check_set

{'a', 'b', 'c', 'd', 'm', 'n'}

In [148]:
def first_two(str):
    return str[:2]

In [157]:
first_two('0')

'0'

## Modules

In [158]:
# main.py
# utility.py
# users.py

In [159]:
# We organize code with modules

## Packages in Python

In [160]:
# Package is a folder with modules

In [ ]:
# import shopping.shopping_cart

#### Some exercises from CodingBat:

In [41]:
def sum2(nums):
  
  if len(nums) > 2:
    return sum(nums[0:2])
  else:
    return sum(nums)

In [42]:
sum2([4,11,4])

15

In [35]:
def double_char(str):
    double_str = ''
    for char in range(0, len(str), 1):
        double_str += str[char]*2
    return double_str

In [36]:
double_char('Hi!')

'HHii!!'